@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
.content-hero{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: auto;
    min-height: 100vh;
}

.hero{
    display: flex;
    background-image: url('https://images.pexels.com/photos/1598505/pexels-photo-1598505.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100vw;
    height: 100vh !important;
    color: #ffffffd3;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 10%;
    margin: 0;
}
.menuHero{
    display: flex;
    width: 70%;
    height: 10%;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid white; */
    margin-top: 30px;
    color: #FAFAFA;
}
a{
    text-decoration: none;
}
.linkHero{
    color: white;
    display: flex;
    width: 200px;
    height: 5vh;
    /* border: 1px solid blue; */
    align-items: center;
    justify-content: center;
    background-color: orange;
    border-radius: 50px;
}