html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

nav{
    width: 100vw;
    height: 13vh;
    padding: 20px 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #303030;
    /* position: sticky; */
    z-index: 99999;
}

.menuItem{
    width: 40vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    margin-left: auto;
    cursor: pointer;
    
}

a{
    transition-duration: .2s;
    color: white;
    text-decoration: none;
}

.menuItem a:hover{
    color: orange;
    font-weight: 300;
}