@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    overflow-x: hidden;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* Section */
.order-pickUp{
    display: flex;
    height: 100vh;
    width: 100vw;
    background: #F0C000;
}
/* END Section */

/* Container1 */
.container-1, .container-2{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50%;
    padding: 5% 0;
    align-items: center;
    justify-content: center;
}

.container-2{
    background-color: black;
}

.container-2 h1{
    color: #F0C000;
}
/* END Container1 */

.container-1 .title{
    color: #000;
}

.paragraph{
    font-weight: bold;
    color: #fff;
    margin: 0;
}

/* Form */
form{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 60%;
    background: #fff;
    box-shadow: 0px 2px 15px -1px rgba(0,0,0,0.3);
    border-radius: 5px;
    margin: 20px 0 0 0;
    padding: 20px;  
    transition: .2s;
}
/* END Form */

form:hover{
    box-shadow: 0px 4px 15px -1px rgba(0,0,0,0.5);
}

/* colGroup */
form .colGroup{
    display: flex;
    height: 5vh;
    width: 100%;
    margin: 0px 0 15px 0;
    justify-content: space-between;
    align-items: center;
}
/* END colGroup */

label{
    display: flex;
    font-weight: 600;
    color: #000;
}



.colGroup input{
    display: flex;
    height: 100%;
    width: 70%;
    border: 1px solid #bbb;
    border-radius: 5px;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-weight: bold;
    padding: 8px 8px;
    font-weight: 500;
    color: gray;
}

button{
    display: flex;
    height: 5vh;
    width: auto;
    background: #F0C000;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.3);
    color: #fff;
    border-radius: 20px;
    border: none;
    outline: none;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    cursor: pointer;
    margin: 10px 0px 0 0px;
    transition: .3s;
}

/* button:hover{
    box-shadow: 0 4px 8px -1px rgba(0,0,0,0.5);
} */
